PAYPAL_ENVIRONMENT=sandbox
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PAYPAL_CLIENT_SECRET
PAYPAL_CURRENCY=EUR
PAYPAL_BRAND_NAME=FlegarTech
PAYPAL_ITEM_NAME=Support YouTube Focus Clean
CHECKOUT_BASE_URL=https://YOUR_PUBLIC_CHECKOUT_DOMAIN/checkout
